<%- include('./partials/header.ejs') %>
<body>
  <h2>Desea remover el producto del carrito?</h2>
  <form
    action="/cart/delete/:id"
    method="post"
    role="form"
    autocomplete="off"
  ></form>
</body>
